.app-container {
  display: flex;
  justify-content: center;
}
.gallery-container{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}

.active-img {
  border-radius: 18px;
}
.heading{
  color: #1e293b;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}

.description{
  color: #64748b;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;

}
.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
