.img-list-item {
  list-style-type: none;
  margin-right: 16px;
  margin-bottom: 16px;
}
.thumbnail-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.active {
  opacity: 1;
}
.thumbnail {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
